extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Quantity Picker'

block script
  script
    | const picker = new QuantityPicker(document.querySelector('input'));
    |
    | picker.self.form.addEventListener('reset', function () {
    |     setTimeout(() => picker.active = document.querySelector('input[type=checkbox]').checked, 1);
    | });
    |
    | picker.active = document.querySelector('input[type=checkbox]').checked;

block style
  style
    | .quantity-picker__text {
    |   min-width: 3em;
    | }

block content
  main
    form(method='get' target='_blank')
      p: input(disabled min='0' name='test' step='1' type='number' value='1')
      p
        label
          input(onchange='picker.active = this.checked;' type='checkbox')
          = ' '
          span Enable
      p
        button(type='submit') Submit
        = ' '
        button(type='reset') Reset
        = ' '
        button(onclick='picker.value = 25, picker.focus();' type='button') Set Value to &ldquo;25&rdquo;