extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Quantity Picker'

block script
  script
    | document.querySelectorAll('input').forEach(self => new QuantityPicker(self, true));

block style
  style
    | .quantity-picker__text {
    |   min-width: 3em;
    | }

block content
  main
    p The lower limit for the input is #[code 1], and the upper limit is #[code 100].
    form(method='get' target='_blank')
      p: input(max='100' min='1' name='test[]' placeholder='1' step='1' type='number')
      p: input(max='100' min='5' name='test[]' placeholder='5' step='5' type='number')
      p
        button(type='submit') Submit
        = ' '
        button(type='reset') Reset